* {
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

header {
    background-image: url(/NetflixClone/saman/bg.jpg);
    height: 80vh;
}

header>.box {
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.55;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 500px;
    padding-top: 15px;
}

nav img {
    width: 200px;
}

.box button {
    text-decoration: none;
    width: 70px;
    height: 30px;
    margin: 1px 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.button1 {
    background-color: red;
    border-radius: none;
}

.button2 {
    border-radius: none;
    background-color: rgba(240, 248, 255, 0);    
    border-radius: none;
}
img{
    position: relative;
    z-index: 10;
}