* {
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

header {
    background-image: url(/NetflixClone/saman/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 43rem;
    position: relative;
}

.box {
    background-color: black;
    height: 43rem;
    opacity: 0.65;
    width: 100%;
    position: absolute;
    top: 0px;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 1.3rem;
    gap: 40rem;
    padding-left: 3rem;
}

nav img {
    width: 10rem;
    position: relative;
    z-index: 1
}

.buttonTop {
    position: relative;
    z-index: 1;
}

.buttonTop>.button {
    padding: 0.4rem 0.9rem;
    font-weight: 700;
    color: white;
    border-radius: 0.3rem;
    margin: 0px 0.5rem;
}

.buttonTop>.button1 {
    background-color: rgba(0, 0, 0, 0.397);
    padding: 0.4rem 1.5rem;
    border: 1px solid #ffffff80;
}

.buttonTop>.button2 {
    background-color: red;
    border: 1px solid red;
}

.button2:hover {
    border: 1px solid rgba(255, 0, 0, 0.838);
    background-color: rgba(255, 0, 0, 0.838);
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1;
    padding-top: 13rem;
    text-align: center;
}

.container1>h1 {
    font-size: 3.2rem;
}

.container1 :nth-child(2) {
    font-size: 1.7rem;
    padding: 0.6rem 0rem;
}

.container1 :nth-child(3) {
    font-size: 1.25rem;
    padding: 0.6rem 0rem;
}

