* {
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

header {
    background-image: url(/NetflixClone/saman/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 620px;
    position: relative;
}

.box {
    background-color: black;
    height: 620px;
    opacity: 0.5;
    width: 100%;
    position: absolute;
    top: 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.3rem;
}

nav img {
    width: 180px;
}